@import "variables";

/deep/ #component-list {
  background: $primary-color;
  border-right: 2px solid darken($primary-color, 10%);
  overflow: auto;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid darken($primary-color, 10%);
      padding: 10px 5px;

      &.component--item {
        padding-left: 20px;
      }
    }
  }

  a {
    font-size: 1em;
    color: $link-color;
    font-weight: 300;
    margin-left: 5px;
  }
  li:hover {
    background: darken($primary-color, 5%);
    a {
      color: darken($link-color, 10%);
    }
  }
}

